{% extends "main/base.html" %}
{% load static %}

{% block title %}
    {{planet.name}}
{% endblock title %}

{% block container %}
    <div class="detail-planet">
        <div class="ditail-img">
            <img src="{% if planet.image %}{{planet.imgage.url}}{% else %}{% static 'img/non.jpg' %}{% endif %}" alt="-" class="detail-image">
        </div>
        <div class="detail-description">
            <h2>{{planet.name}}</h2>
            <h3>Category: {{planet.category}}</h3>
            <p>Description: {{planet.description|linebreaks}}</p>
            {% if planet.discount %}
                <div class="cart-discount">
                    <p class="line">{{planet.price}}</p>
                    <p>{{planet.sell_price}}</p>
                </div>
            {% else %}
            <div class="cart-discount">
                <p class="price">{{planet.price}}</p>
            </div>
            {% endif %}
            <form action="{% url "cart:cart_add" product.id %}" class="qform" methor='post'>
                <div class="cart-form">
                    {{cart_product_form}}
                    {% csrf_token %}

                </div>
                <input type="submit" class="add-to-cat-btn" value="Add to card">
            </form>
            {% comment %} /<a href="{% url "cart:" %}" class="card-btn">Add to cart</a> {% endcomment %}
        </div>
    </div>
{% endblock container %}