{% extends "main/base.html" %}
{% load static %}

{% block title %}Shop{% endblock title %}

{% block content %}
    <div class="ilist d-flex">
        <div class="sideba">
            <h3>Categories</h3>
            <ul>
                <li {% if not category %}class="selected"{% endif %}>
                    <a href="{% url "main:product_list" %}">All</a>
                </li>
                {% for c in categories %}
                    <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                        <a href="{{c.get_absolute_url}}">{{c.name}}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="main">
            <div class="main-title">
                {% if category %}{{category.name}}{% else %}Planets{% endif %}
            </div>
            <div class="planet-list">
                {% for planet in planets %}
                    <div class="item">
                        <a href="{{planet.get_absolut}}e_url" class="item d-flex flex-coloumn align-item-cdnter text-center">
                            <img src="{% if planet.image %}{{planet.imgage.url}}{% else %}{% static 'img/non.jpg' %}{% endif %}" alt="-" class="cart-img">
                            <h5 class="title-car">{{planet.name}}</h5>
                            {% if planet.discount %}
                                <div class="cart-discount">
                                    <p class="line">{{planet.price}}</p>
                                    <p>{{planet.sell_price}}</p>
                                </div>
                            {% else %}
                            <div class="cart-discount">
                                <p class="price">{{planet.price}}</p>
                            </div>
                            {% endif %}
                            <a href="#" class="card-btn">Add to cart</a>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <ul class="pagination">
                <li class="{% if not planets.has_previous %}desable{% endif %}">
                <a href="{% if planets.has_previous %}?page={{planets.revious_page_number}}{% endif %}">Prebious</a>
                </li>
                {% for page in planets.paginator.page_range %}
                {% if page>=planets.number|add:-2 and page<=planets.number|add:2 %}
                    <li>
                    <a href="?page={{page}}" class="{% if planget.number == page %}disabled{% endif %}">{{page}}</a>
                    </li>
                {% endif %}{% endfor %}
                <li class="{% if not planets.has_next %}desable{% endif %}">
                    <a href="{% if planets.has_next %}?page={{planets.next_page_number}}{% endif %}">Next</a>
                    </li>

            </ul>
        </div>
    </div>
{% endblock content %}