@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@100..800&display=swap');

:root {
    --box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.363);
}

body {
    height: 100%;
    font-family: "Trispace", serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
    overflow-x: hidden;


}

ul {
    list-style: none;
    padding: 0;
    justify-content: space-between;
}

.header {
    height: 80px;

}

.container {
    min-width: 320 px;
    font-family: "Trispace", sans-serif;
    flex: 1 1 auto;

}
